= search_form_for table_builder.table_options[:ransack_obj], as: table_builder.ransack_key.to_sym, url: table_builder.context.request.fullpath, html: { class: 'form-absolute' } do |f|
  = f.button "<i class='icon-search'></i>".html_safe, class: "btn btn-icon go-right"
  = f.text_field table_builder.ransack_cont_fields.to_sym, class: "input-block-level", placeholder: placeholder
