= render 'errors', object: @<%= singular_table_name %>

<% if belongs_to_associations.any? -%>
<% belongs_to_associations.each do |attribute| -%>
= f.association :<%=attribute%>
<% end -%>

<% end -%>
<% if content_columns.any? -%>
<% content_columns.each do |attribute| -%>
= f.input :<%=attribute%>
<% end -%>
<% end -%>

<%
has_many_associations.each do |hm|
  form_unit_map = bootstrap_form_unit_map(hm.to_s.classify.constantize)
  if form_unit_map.size_sums.any?{|size, sum| sum <= 12}
-%>
= editable_table_for f, :<%= hm %> do |t|
  - t.sort_on :id
<% form_unit_map.belongs_to_associations.each do |attribute, form_units| -%>
  - t.input_column :<%=attribute%>, wrapper_class: '<%= form_units.map{|size, value| "col-#{size}-#{value}"}.join(' ') %>'
<% end -%>
<% form_unit_map.columns.each do |attribute, form_units| -%>
  - t.input_column :<%=attribute%>, wrapper_class: '<%= form_units.map{|size, value| "col-#{size}-#{value}"}.join(' ') %>'
<% end -%>
<%
  end
end
-%>
