/- § 164.312(a)(2)(iii) - Terminate an electronic session after a predetermined time of inactivity

-if Devise.timeout_in && Devise.timeout_in.to_i > 0
  meta content=Devise.timeout_in.to_i  http-equiv="refresh" /
