- if action_builder.can?(resource)
  = link_to action_builder.label, action_builder.url, method: action_builder.method, remote: action_builder.remote, class: action_builder.class, target: action_builder.target, data: action_builder.data
